[user]
    name = Sean Turner
    email = sean.turner026@gmail.com

[includeIf "gitdir:~/code/kobold-metals/"]
    path = ~/code/kobold-metals/.gitconfig_include

[color]
    ui = true

[fetch]
	prune = true
	pruneTags = true
	all = true

[pull]
    rebase = true
    autoStash = true

[help]
    autoCorrect = immediate

[merge]
    conflictstyle = zdiff3
    tool = vscode-diff

[core]
	editor = nvim

[init]
	defaultBranch = main

[diff]
	colorMoved = plain
	mnemonicPrefix = true
	renames = true

[alias]
	pushb = !git push origin \"$(git rev-parse --abbrev-ref HEAD)\"
	pullb = !git pull origin \"$(git rev-parse --abbrev-ref HEAD)\"

[mergetool "vscode-diff"]
	cmd = nvim \"$MERGED\" -c \"CodeDiff merge \\\"$MERGED\\\"\"
