[user]
    name = Sean Turner
    email = sean.turner026@gmail.com

[includeIf "gitdir:~/.hal/"]
    path = ~/work/consegna/.gitconfig

[includeIf "gitdir:~/work/consegna/wcc/"]
    path = ~/work/consegna/wcc/.gitconfig

[credential]
    helper = !aws --profile nzqa codecommit credential-helper $@
    UseHttpPath = true

[color]
    ui = true

[fetch]
    prune = true

[pull]
    rebase = true
    autoStash = true
